APP_NAME=Nexus Nine
APP_ENV=local
APP_KEY=APPKEY
APP_DEBUG=false

SESSION_SECURE_COOKIE=true
SANCTUM_STATEFUL_DOMAINS=localhost

# Variable used by Laravel to create links (e.g., password resets, pagination)
#
# Has to be the same URL used by the client (Web Browser) to access the web
# If port is needed in the URL, it also has to be specified here 
APP_URL=https://localhost:7999

# Custom variable used to config CORS(Authorized Frontend Origin)
# Config file: config/cors.php
#
# Has to be the URL used by the client (Web Browser) to access the web
# If port is needed in the URL, it also has to be specified here 
SPA_URL=https://localhost:7999

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database configuration (mariadb)
DB_CONNECTION=mariadb # [Options: sqlite, mysql, mariadb, pgsql, sqlsrv]
DB_HOST=mariadb # Docker container name
DB_PORT=3306 # Docker container port
DB_DATABASE=transcendence
DB_USERNAME=USERNAME

SESSION_DRIVER=database # [Options: redis, database, file, cookie, memcached, dynamodb, array]
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis # [Options: redis, sync, database, beanstalkd, sqs, deferred, background, failover]

# Cache database configuration
CACHE_STORE=redis # [Options: array, database, file, memcached, redis, dynamodb, octane, failover]

# Redis configuration (in-memory database)
REDIS_CLIENT=predis
REDIS_HOST=redis # Docker container name
REDIS_PASSWORD=null
REDIS_PORT=6379 # Docker container port

MAIL_SCHEME=https
BREVO_API_KEY=BREVOKEY
MAIL_MAILER=brevo
MAIL_FROM_ADDRESS=EXAMPLE_MAIL@EXAMPLE.com
MAIL_FROM_NAME="NEXUS NINE"

VITE_APP_NAME="${APP_NAME}"
VITE_API_URL=https://localhost:7999

# Reverb (Websocket) configuration
# Config for comunication between Laravel and Reverb
REVERB_APP_ID=MA
REVERB_APP_KEY=REVERB_KEY
REVERB_APP_SECRET=REVERB_SECRET
REVERB_HOST=reverb # Docker container name
REVERB_PORT=6001
REVERB_SERVER_PORT=6001 # Docker container port
REVERB_SCHEME=http # Protocol used by proxy (nginx) to comunicate with the container
REVERB_MAX_MESSAGE_SIZE=10000
REVERB_SCALING_ENABLED=false
REVERB_SERVER_HOSTNAME="0.0.0.0"

# Config for comunication with the Client (Web Browser) via Nginx
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST=localhost # Domain name of the web
VITE_REVERB_PORT=7999 # Port exposed by Nginx
VITE_REVERB_SCHEME=https # Protocol used by the browser to access the web
